{% include base_path %}

{% assign posts_by_users = site.posts | sort: "users" | reverse %}

{% assign verdicts = "verifiable,nonverifiable,nosource,custodial" | split: "," %}
<div id="sidebarWalletList">
{% for verdict in verdicts %}
  {% case verdict %}
    {% when "verifiable" %}    {% assign verdictLabel = "Verifiable when tested" %}
    {% when "nonverifiable" %} {% assign verdictLabel = "Not verifiable" %}
    {% when "nosource" %}      {% assign verdictLabel = "Closed Source" %}
    {% when "custodial" %}     {% assign verdictLabel = "Custodial" %}
    {% when "wip" %}           {% assign verdictLabel = "WIP" %}
    {% when "fewusers" %}      {% assign verdictLabel = "Few users" %}
    {% when "nobtc" %}         {% assign verdictLabel = "Non-BTC" %}
    {% when "nowallet" %}      {% assign verdictLabel = "No Wallets" %}
    {% else %}                 {% assign verdictLabel = "???" %}
  {% endcase %}
  {% assign thisVerdictPosts = posts_by_users | where: "verdict", verdict %}
  <div class="verdict {{ verdict }}" style="margin:1em 0em 0.5em 0em">{{ verdictLabel }} ({{ thisVerdictPosts.size }})</div>
  {% for post in thisVerdictPosts %}
    {% include list_of_wallets_sidebar_item.html %}
  {% endfor %}
{% endfor %}
</div>
<div id="sidebarWalletListShowButton">
  <button class="btn" id="showWallets">Show more ...</button>
</div>
