
{% if page.altTitle %}
  {% assign title = page.altTitle %}
{% else %}
  {% assign title = page.title %}
{% endif %}

<img src="/images/wallet_icons/{{ page.icon }}" class="app_logo_big" alt="Wallet Logo">
<p>This
{% if page.launchDate %}
  app was first launched on {{ page.launchDate | date_to_long_string: "ordinal" }} and
{% else %}
  relatively new app
{% endif %}
currently
has more than {{ page.users }} downloads{%
  if page.stars %}, a {{ page.stars }} stars rating from {{ page.ratings }} users
{% endif %}
and
the latest APK (version {{ page.apkVersionName }})
was from {{ page.latestUpdate | date_to_long_string: "ordinal" }}{% if page.reviewStale %}<font color="red">
and is newer than the below reviewed version of the app</font>{% endif %}.</p>

<p>Our analysis was done on {{ page.date | date_to_long_string: "ordinal" }}
based on data found in their
<a href="https://play.google.com/store/apps/details?id={{ page.appId }}">Playstore description</a>
and <a href="{{ page.website }}">their website</a>
{% if page.repository %}and their <a href="{{ page.repository }}">source repository</a>{% endif %}.
{% if page.issue %} We discuss the issue with verification with the provider
<a href="{{ page.issue }}">here</a>.{% endif %}
{% if page.internalIssue %} In our GitLab this app is discussed in
<a href="https://gitlab.com/walletscrutiny/walletScrutinyCom/issues/{{ page.internalIssue }}">Issue #{{ page.internalIssue }}</a>.{% endif %}</p>

<p>We found these ways of contacting the developers:
<ul>
{% if page.website          %}<li><a href="{{ page.website                                   }}">{{ page.website | replace: "http://", "" | replace: "https://", ""  | replace: "/", "" }}</a></li>{% endif %}
{% if page.providerTwitter  %}<li><a href="https://twitter.com/{{      page.providerTwitter  }}">Twitter</a></li>{% endif %}
{% if page.providerFacebook %}<li><a href="https://www.facebook.com/{{ page.providerFacebook }}">Facebook</a></li>{% endif %}
{% if page.providerReddit   %}<li><a href="https://www.reddit.com/r/{{ page.providerReddit   }}">Reddit</a></li>{% endif %}
{% if page.providerLinkedIn %}<li><a href="https://www.linkedin.com/{{ page.providerLinkedIn }}">LinkedIn</a></li>{% endif %}
</ul></p>
{% if page.reviewArchive %}
<h1>Older reviews</h1>
<ul>
  {% for review in page.reviewArchive %}
    <li><a href="https://gitlab.com/walletscrutiny/walletScrutinyCom/blob/{{ review.gitRevision }}/_posts/2019-12-20-{{ page.appId }}.md">Review of version {{ review.version }} on {{ review.date | date_to_long_string: "ordinal" }}</a> (verdict: {{  review.verdict }})</li>
  {% endfor %}
</ul>
{% endif %}

{% if page.providerTwitter  %}
  <h1>Help spread awareness for build verifiability</h1>
  <p><img src="/images/twitter.svg" style="height:2em;width:auto;float:left;margin:.5em">
  {% if page.verdict == "verifiable" %}
    Please follow {{ title }} and thank them for being verifiable
  {% else if page.verdict == nonverifiable %}
    Please help us spread the word, asking {{ title }} to support verifiable builds
  {% else if page.verdict == nosource %}
    Please help us spread the word discussing transparency with {{ title }}
  {% else if page.verdict == custodial %}
    Please help us spread the word discussing the risks of centralized custodians with {{ title }}
  {% else %}
    Please help us spread the word discussing build verifiability with {{ title }}
  {% endif %}
  <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/intent/tweet?text=.%20@{{ page.providerTwitter }}%20@WalletScrutiny&url={{ site.url }}{{ page.redirect_from[0] }}">via their Twitter</a>!</p>
 {% endif %}

<h1>Disclaimer</h1> 
<p>The following Analysis is not a full code review!
We plan to make code reviews available in the future but even then it will never
be a stamp of approval but rather a list of incidents and bad coding practice.
We cannot find and tell you all the dark secrets the wallet providers might have.</p>

<h1>Do your own research!</h1> 
<p>Try out searching
for "lost bitcoins", "stole my money" or "scammers" together with the wallet's
name, even if you
think the wallet is generally trustworthy. For all the bigger wallets you will
find accusations. Make sure you understand why they were made and if you are
comfortable with the provider's reaction.</p>


<h1>The Analysis</h1>